*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

body{
    background-color: rgb(15, 15, 15);
}

.interface-1{
    width: 80%;
    margin: 0 auto;
}


.none{
    display: none;
}

.ajustar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    width: 100%;
    gap: 1.9rem;
    
}

.banner{
    height: 800px;
    width: 100%;
}

.logo{
    height: 40px;
}

.grid .spinner-border{
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

#contato{
    margin-top: 7rem;
    height: 50vh;
    background-color: black;
}


.flex{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.flex li{

list-style: none;
}



#contato .flex img{
    height: 100px;
}



.windown{
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

#windown{
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2;
}

#windown.active{
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}

.voltar{
    position: absolute;
    height: 70px;
    width: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    transition: .3s;
}

.voltar:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.voltar svg{
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

/* =======================lista =============================== */

.lista{
    margin-top: 10rem;
}

/* ============================== cards alta =============================== */

.em-alta{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
    min-height: 500px;
}

.nav-alta{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    border-radius: 30px;
    align-items: center;
    height: 40px;
}

.nav-alta h2{
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.card{
    animation: mostrarCard linear .45s normal forwards;
    transition: .3s;
    position: relative;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 30px;
    
}

.card .favorito{
    position: absolute;
    width: min-content;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    pointer-events:painted
}

.card .favorito path{

     fill:  rgb(240, 240, 240);
     transition: .2s;
     
}

.card .favorito:hover path{
    stroke: rgb(255, 0, 0);
    fill: rgb(255, 0, 0);
    
}

.card .card-img-top{
    aspect-ratio: 3/4;
    border-radius: 30px;
}

.card:hover{
   transform: scale(0.95);
   cursor: pointer;
}

.cards-alta{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    width: 100%;
    gap: 1.9rem;
    
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1.5px;
    padding: 2px;
    border-radius: 30px;
    font-weight: 700;

}

.card-img-top, .card-body{
    pointer-events: none;
}

.card-body h2{
    font-size: 1.4rem;
}

.fav{
    min-height: 400px;
}

.container-fav{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 260px));
    width: 100%;
    gap: 1.9rem;
}

.container-fav .card{

    min-width: 100%;
}




@keyframes mostrarCard{
    0%{
        scale: .95;
    }

    40%{
        scale: .90;  
    }

    60%{
        scale: .95;  
    }

    100%{
        scale: 1.02;
    }
}












    @media (max-width: 1050px){

      

        .ajustar{
            width: 100%;
            display: flex;
            justify-content: center;
         
                }
                

        .navbar-toggler{
            margin-right: 1rem;
        }
    
        .banner{
            height: 600px;
        }

        span.navbar-toggler-icon{
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
        }

      

       .disney, .harry{
        display: none
       }

       .nav-alta{
        display: flex;
        justify-content: space-around;
        align-items: center;
       }

       .op{
        transform: translateY(4px);
       }

       h2.op{
        font-size: 1.5rem;
       }

       .check{
        padding-left: 7px;
        padding-right: 7px;
        

       }

       .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        width: 100%;
        gap: 1.9rem;
        
    }
        
        
        #contato .flex img{
            height: 100px;
        }
            
        .flex{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 1rem;

        }

        .logo{
            height: 40px;
            display: none;
        }
        
        .container-fav{
            margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 21fr));
            width: 100%;
            gap: 1.9rem;
        }

                }

                
@media (max-width: 610px){

        .banner{
            height: 300px;
        }

             

        .ajustar{
            width: 100%;
            display: flex;
            justify-content: center;

                }

                .grid{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                    width: 100%;
                    gap: 1.9rem;
                    
                }
        


    }

    @media (max-width: 390px){

.voltar{
    position: absolute;
    height: 50px;
    width: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}





    }